[user]
	name = jdu211171
	email = 123369867+jdu211171@users.noreply.github.com
[core]
	editor = cat
[color]
  ui = auto
[init]
	defaultBranch = main
[credential "https://github.com"]
	helper = 
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !gh auth git-credential

[merge]
  tool = vscode
[mergetool]
  prompt = false
  keepBackup = false
[mergetool "vscode"]
	cmd = code --wait --merge $LOCAL $REMOTE $BASE $MERGED
  trustExitCode = false
[push]
	autoSetupRemote = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
