[user]
	name = jdu211171
	email = 211171m@jdu.uz
[core]
	editor = nvim
[color]
  ui = auto
[init]
	defaultBranch = main
[credential "https://github.com"]
	helper = 
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !gh auth git-credential

[merge]
  tool = vscode
[mergetool]
  prompt = false
  keepBackup = false
[mergetool "vscode"]
  cmd = '/usr/sbin/code' \"$MERGE
  trustExitCode = false
[push]
	autoSetupRemote = true
