[user]
	name = jdu211171
	email = 211171m@jdu.uz
[core]
	autocrlf = input
	eol = lf
	editor = nvim
[pull]
	rebase = true
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[init]
	defaultBranch = main
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[rebase]
	autoStash = true
